<component name="ArtifactManager">
  <artifact type="war" name="Mybatis_06_ssm:war">
    <output-path>$PROJECT_DIR$/Mybatis_06_ssm/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Mybatis_06_ssm</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Mybatis_06_ssm.war">
      <element id="artifact" artifact-name="Mybatis_06_ssm:war exploded" />
    </root>
  </artifact>
</component>